NODE_ENV=development
PORT=3001
AUTH_DB_HOST=auth-db
AUTH_DB_PORT=5432
AUTH_DB_USERNAME=
AUTH_DB_PASSWORD=
AUTH_DB_DATABASE=
GATEWAY_SERVICE_HOST=gateway-service
GATEWAY_SERVICE_PORT=3000
RABBITMQ_DEFAULT_PORT=5672
RABBITMQ_DEFAULT_UI_PORT=8080
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
JWT_SECRET=

# SSL_CERT_PATH=/path/to/ssl/cert
# SSL_KEY_PATH=/path/to/ssl/key
# REDIS_URL=redis://your-redis-instance
# LOG_LEVEL=error
